.login-container {
    .login-form {
        width: 500px;
        margin: auto;
    }

    form{ border: 3px, solid red} 
   
    .container{
        padding: 16px;
        overflow: hidden;
    }

}